 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/banner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-group-1 {
  width: 779px;
  min-height: 512px;
  margin: 73px auto 60px 167px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  margin: 450px 20px -42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-group-1 {
    width: 701px;
    min-height: 597px;
    position: relative;
    margin-left: 161px;
    margin-bottom: 75px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-group-1 {
    width: 606px;
    min-height: 688px;
    margin-top: 81px;
    margin-bottom: 81px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 77px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    min-height: 708px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 369px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 584px;
    margin-right: 2px;
    margin-left: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1382px;
}

.u-section-2 .u-group-1 {
  width: 761px;
  min-height: 348px;
  margin: 24px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 26px 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 40px auto 0;
}

.u-section-2 .u-text-4 {
  width: 761px;
  margin: 40px auto 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 380px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 380px;
  margin: -380px 0 40px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    position: relative;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    font-family: patua-one;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 360px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 227px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 227px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-text-1 {
  margin: 69px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 108px 0;
}

.u-section-3 .u-gallery-1 {
  height: 372px;
  margin-top: 23px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-3 .u-text-2 {
    width: 817px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-gallery-1 {
    height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 705px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1586px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 52px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 40px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: 40px;
    height: 999px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 689px;
}

.u-section-4 .u-text-1 {
  margin: 30px 113px 0;
}

.u-section-4 .u-text-2 {
  margin: 23px 113px 0;
}

.u-section-4 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  width: 409px;
  margin: 19px auto 30px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 15.81%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 213px;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 20px;
    margin-left: 113px;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2093px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 352px;
    margin-top: 12px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 810px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 26px 113px 0;
}

.u-section-5 .u-gallery-1 {
  height: 458px;
  grid-gap: 17px 17px;
  width: 409px;
  margin: 26px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 24.01%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2093px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 36px;
  }

  .u-section-5 .u-gallery-1 {
    height: 380px;
    width: 340px;
    margin-bottom: 36px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 627px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0 266px;
}

.u-section-6 .u-text-2 {
  margin: 26px 113px 0;
}

.u-section-6 .u-image-1 {
  width: 458px;
  height: 300px;
  margin: 26px 113px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 458px;
  height: 300px;
  margin: -300px auto 26px 113px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 20px;
    margin-right: 113px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 204px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 153px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 82px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-6 .u-image-1 {
    height: 223px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 223px;
    margin-top: 26px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}